* text=auto
*.swift text eol=lf
*.md text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.sh text eol=lf
*.lua text eol=lf
*.jsonl text eol=lf
*.xmp text eol=lf
*.gpx text eol=lf
*.png binary
*.jpg binary
*.jpeg binary
